/* mettre marge à 0 pour tous les éléments*/
* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 
 nav{
    background-color:#43B1F8;
<<<<<<< HEAD
<<<<<<< HEAD
    box-shadow: 0px 5px 25px #43B1F8;
    z-index: 20;
 }
 
=======
 }
 
 /* Permet de pouvoir afficher toute la navbar et pas seulement les endroits où il y a des éléments */
>>>>>>> 8044b22 (updates css styling + pages)
=======
    box-shadow: 0px 5px 25px #43B1F8;
    z-index: 20;
 }
 
>>>>>>> 939be3c (updates changes navbar)
 nav:after{
    content:'';
    clear: both;
    display:table;
 }
 
 nav ul{
    float:right;
    list-style-type: none;
    margin-right:40px;
    position:relative;
 }
 
<<<<<<< HEAD
<<<<<<< HEAD
=======
 /* Permet de choisir l'écart entre tous les éléments de la navbar */
>>>>>>> 8044b22 (updates css styling + pages)
=======
>>>>>>> 939be3c (updates changes navbar)
 nav ul li{
    float:left;
    margin:0 10px;
    background-color:#43B1F8;
 }
 
<<<<<<< HEAD
<<<<<<< HEAD
=======
 /* définir les propriétés du texte dans la navbar */
>>>>>>> 8044b22 (updates css styling + pages)
=======
>>>>>>> 939be3c (updates changes navbar)
 nav ul li a{
    color:white;
    text-decoration: none;
    line-height: 70px;
    font-size:18px;
    padding: 8px 17px;
 }
 
<<<<<<< HEAD
<<<<<<< HEAD
=======
 /* permet de définir ce qu'il se passe lorsque la souris passe sur le txt de la navabr */
>>>>>>> 8044b22 (updates css styling + pages)
=======
>>>>>>> 939be3c (updates changes navbar)
 nav ul li a:hover{
    text-decoration: underline;
    font-weight: bold;
 }
 
<<<<<<< HEAD
<<<<<<< HEAD
=======
 /* ul ul définit ce qu'il se passe dans le sous-menu des éléments txt de la navbar */
>>>>>>> 8044b22 (updates css styling + pages)
=======
>>>>>>> 939be3c (updates changes navbar)
 nav ul ul {
    position: absolute;
    top:90px;
    border-top: 3px solid white;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
 }
 
<<<<<<< HEAD
<<<<<<< HEAD
=======
 /* le > permet de cibler directement les enfants du sous-menu */
>>>>>>> 8044b22 (updates css styling + pages)
=======
>>>>>>> 939be3c (updates changes navbar)
 nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
 
 }
 nav ul ul li{
    position: relative;
    margin:0;
    width: 150px;
    float:none;
    display: list-item ;
    border-bottom: 1px solid white;
 }
 
 nav ul ul li a {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 939be3c (updates changes navbar)
    font-size: 10px;
 }
 
 nav ul ul li a:hover {
    text-decoration: underline;
    font-weight: lighter;
<<<<<<< HEAD
=======
    font-size: 10px;;
>>>>>>> 8044b22 (updates css styling + pages)
=======
>>>>>>> 939be3c (updates changes navbar)
 }
 
 nav .logo {
    float:left;
    height:auto;
    margin-left:45px;
    width:75px;
  }
 
 nav .bouton{
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 939be3c (updates changes navbar)
   display: inline-block;
   padding: 5px 15px;
   margin-left: 20px;
   margin-top: 18px;;
   font-size: 17px;
   color: white;
   border:1px solid white;
   background-color: #43B1F8;
   cursor:pointer;
<<<<<<< HEAD
  }
 
  nav .bouton:hover{
   border: 2px solid white;
   font-weight:bold;
 }
 
 nav .show,input,.icon {
=======
    display: inline-block;
    padding: 5px 15px;
    margin-left: 20px;
    margin-top: 18px;;
    font-size: 17px;
    color: white;
    border:1px solid white;
    background-color: #43B1F8;
    cursor:pointer;
=======
>>>>>>> 939be3c (updates changes navbar)
  }
 
  nav .bouton:hover{
   border: 2px solid white;
   font-weight:bold;
 }
 
<<<<<<< HEAD
 .show,input,.icon {
>>>>>>> 8044b22 (updates css styling + pages)
=======
 nav .show,input,.icon {
>>>>>>> 4c2a37b (updates...)
    display:none;
 }
 
 @media all and (max-width: 968px) {
    nav ul{
        margin-right:0px;
        float:left;
    }
    nav .logo{
        margin-right: 150px;
        width:90px;
    }
    nav ul li, nav ul ul li {
        display:block;
        width:100%;
    }
    nav ul ul{
        top:70px;
        position:static;
        border-top:none;
        float:none;
        display:none;
        opacity:1;
        visibility: visible;
    }
    nav ul ul a{
        padding-left:40px;
    }
    nav ul ul li{
        border-bottom:none;
    }
    nav ul ul li a{
        font-size:18px;
    }
    .show {
        display:block;
        color:white;
        font-size:18px;
        padding: 0 20px;
        line-height: 70px;
        cursor:pointer;
    }
    .show:hover{
        text-decoration: underline;
        font-weight: bold;
    }
    .icon{
        display:block;
        color:white;
        position: absolute;
        right:40px;
        line-height: 90px;
        font-size:35px;
        cursor:pointer;
    }
    .show + a, ul{
        display: none;
    }
    [id^=btn]:checked + ul{
        display: block;
    }
<<<<<<< HEAD
<<<<<<< HEAD
    nav .bouton{
       margin-bottom:15px;
=======
 
    nav .bouton{
        margin-bottom:10px;
>>>>>>> 8044b22 (updates css styling + pages)
=======
    nav .bouton{
       margin-bottom:15px;
>>>>>>> 939be3c (updates changes navbar)
    }
}

header{
    margin-bottom: 80px;
}

footer {
    margin-top: 80px;
}

header{
    margin-bottom: 80px;
}

footer {
    margin-top: 80px;
}

/* Defining bottom navigation bar */
.bottombar {
    display: flex;
    bottom: 0;
    align-self: flex-end;
    align-items: flex-start;
    background-color: #43b1f8;
    font-size: 12px;
    position: sticky;
}

.bottombar a {
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 12px;
}

/* Define Hover on selection color */ 
.bottombar a:hover {
    background-color: #8FAFC1;
    color: #424949;
}

/* Add active class to highlight current page */
.bottombar a.active {
    background-color: #8FAFC1;
    color: white;
}