<<<<<<< HEAD
<<<<<<< HEAD
=======
  body
  {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
  }
>>>>>>> e028cf2 (added medicobot/question+ reorganizing)
=======
>>>>>>> 4c2a37b (updates...)
  .bleu
  {
    text-align: center;
    color: #43b1f8;
    font-size: 50px;
  }
  .bleu1
  {
    color: #43b1f8;

  }
<<<<<<< HEAD
<<<<<<< HEAD
=======
  
>>>>>>> e028cf2 (added medicobot/question+ reorganizing)
=======
>>>>>>> 4c2a37b (updates...)

  .info {
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    position: relative;
  }
  .info p{
    text-align: center;
  }

  h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    vertical-align: middle;
  }
  .ana{
    margin-top:50px ;
    width: 100%;
    height: 25vw;
<<<<<<< HEAD
<<<<<<< HEAD
=======
    
>>>>>>> e028cf2 (added medicobot/question+ reorganizing)
=======
>>>>>>> 4c2a37b (updates...)
    background-color: #ffffff;
    overflow: hidden;
    transition: width 2s;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
<<<<<<< HEAD
<<<<<<< HEAD
=======

    
>>>>>>> e028cf2 (added medicobot/question+ reorganizing)
=======
>>>>>>> 4c2a37b (updates...)
  }
  
  .oe{
    width: 50%;
    height: 25vw;


    position: relative;
  }

<<<<<<< HEAD
<<<<<<< HEAD
  .analyse { 
=======
  .analyse {
    
    
>>>>>>> e028cf2 (added medicobot/question+ reorganizing)
=======
  .analyse { 
>>>>>>> 4c2a37b (updates...)
    margin-left:auto;
    margin-right: auto;
    display: block;
    margin-top: 10%;
    max-width: 30%;
    filter: invert(100%);
    outline: white solid 3px;
    outline-offset: 10%;

  }


  .ana:hover {
    transition-timing-function: ease;
    background-color: #43b1f8;
    transition: 2s;
  }
    .oe:hover {
      transition-timing-function: ease;
      background-color: #43b1f8;
      transition: 2s;

    
  }
  @media screen and (max-width: 600px) {
    ul{
      flex-direction:column;
      text-align: center;
      float: none;
    }
    .oe .pres{
      display: none;
    }
    .bouton{
      display: block;
      background-color: #ffffff;
      border-radius: 20px;
      border-width: 3px;
      text-align: center;
      font-size: 15px;
      padding: 7px 7px;
      width: fit-content;
      height: fit-content;
      bottom: 12.5vw;
      color: #43b1f8;
    }
    .bouton1{
      display: block;
      background-color: #ffffff;
      border-radius: 20px;
      border-width: 3px;
      text-align: center;
      font-size: 15px;
      padding: 7px 7px;
      width: fit-content;
      height: fit-content;
      bottom: 12.5 vw;
      color: #43b1f8;
    }
<<<<<<< HEAD
<<<<<<< HEAD
=======
    
>>>>>>> e028cf2 (added medicobot/question+ reorganizing)
=======
>>>>>>> 4c2a37b (updates...)
  }

  .pres{
    font-size: 1vw;
    text-align: center;
    color: #ffffff;
  }

  @media screen and (min-width: 600px) {
  .bouton1{
    display: block;
    background-color: #ffffff;
    border-radius: 20px;
    border-width: 3px;
    outline-style: solid;
    outline-width: 3px;
    outline-offset: 10px;
    outline-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5vw;
    padding: 10px 10px;
    width: fit-content;
    height: fit-content;
    bottom: 30px;
    color: #43b1f8;
    margin: auto;
  }
  .bouton{
    display: block;
    background-color: #ffffff;
    border-radius: 20px;
    border-width: 3px;
    outline-style: solid;
    outline-width: 3px;
    outline-offset: 10px;
    outline-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2vw;
    padding: 20px 20px;
    width: fit-content;
    height: fit-content;
    bottom: 30px;
    color: #43b1f8;
  }
}
  .bouton1:hover {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
  } 
  .oe .bouton{
    margin: auto;
    margin-top: 20%;
  }
  
<<<<<<< HEAD
<<<<<<< HEAD
=======


>>>>>>> e028cf2 (added medicobot/question+ reorganizing)
=======
>>>>>>> 4c2a37b (updates...)
  .bouton:hover {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
  /* ----------------------------------------------
 * Generated by Animista on 2022-11-14 2:11:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}



.produit {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  margin: 50px; 
  border-top: solid 4px #43b1f8;
 
}
.produit1 {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  margin: 50px; 

 
}

.produit h1{
  text-align: center;
  color: #43b1f8;
  font-size: 50px;

}
.produit h3{
  margin: 15px ;
  font-size: 30px;
  color: #43b1f8;
  text-align: left;
  text-decoration: underline;
}
.produit p{
  margin: 25px;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: center;

}

@media screen and (max-width: 600px) {
  img.logo
{
  height: 15%;
  width: 15%;
  float:left;
  PADDING: 5%;
  
}
}