  
 
body {
  margin: 0;
  padding:0;
  box-sizing:border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #eef2f7;
  overflow-x: hidden; 
}

/* va nous permettre de placer les éléments à l'intérieur de l'image de garde */
.container {
  color: white;
  margin-bottom: 20px;
  padding: 20px;
}

#first-part{
background-image: url("./assets/testaccueil.png");
background-size: cover;
min-height: 550px;
height:fit-content;
}

.title-over {
  font-size: 75px;
  margin: auto 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
}

.text-over {
  font-size: 25px;
  margin: auto 50px;
  width:58%;
  text-align: justify;
  padding-top:20px;
  padding-bottom:30px;
  line-height: 30px;
}

.btn-33,
.btn-33 *,
.btn-33 :after,
.btn-33 :before,
.btn-33:after,
.btn-33:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-33 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#43B1F8, #fff);
  padding: 0;
  text-transform: uppercase;
  margin-left:50px;
}
.btn-33:disabled {
  cursor: default;
}
.btn-33:-moz-focusring {
  outline: auto;
}
.btn-33 svg {
  display: block;
  vertical-align: middle;
}
.btn-33 [hidden] {
  display: none;
}
.btn-33 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  margin-top: 10px;
}
.btn-33:hover {
  transform: scale(1.1);
}
.btn-33 span {
  font-weight: 900;
  mix-blend-mode:screen;
}
.btn-33:before {
  aspect-ratio: 1;
  background: #43B1F8;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s;
  width: 0;
}
.btn-33:hover:before {
  width: 100%;
}


.btn-35,
.btn-35 *,
.btn-35 :after,
.btn-35 :before,
.btn-35:after,
.btn-35:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-35 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#43B1F8, #fff);
  padding: 0;
  text-transform: uppercase;
  margin-right: 140px;
}
.btn-35:disabled {
  cursor: default;
}
.btn-35:-moz-focusring {
  outline: auto;
}
.btn-35 svg {
  display: block;
  vertical-align: middle;
}
.btn-35 [hidden] {
  display: none;
}
.btn-35 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  margin-top: 10px;
  float:right;
}
.btn-35:hover {
  transform: scale(1.1);
}
.btn-35 span {
  font-weight: 900;
  mix-blend-mode:screen;
}
.btn-35:before {
  aspect-ratio: 1;
  background: #43B1F8;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s;
  width: 0;
}
.btn-35:hover:before {
  width: 100%;
}

.titre {
  text-align: center;
}

.produitvC {
  border-radius:10px;
  width:350px;
  padding:20px;
  margin-top: 35px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: white;
  text-align: center;
  transition: all 0.5s ease;
  transform:scale(1);
}

.produitvC:hover {
  transform:scale(1.075);

}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fill:hover,
.fill:focus {
 box-shadow: inset 0 0 0 2em var(--hover);
}

.fill {
--color: #43B1F8;
--hover: #43B1F8;
}

button {
color: var(--color);
transition: 0.25s;
}
button:hover, button:focus {
border-color: var(--hover);
color: #fff;
}

button {
background: none;
border: 2px solid;
font: inherit;
line-height: 1;
margin: 0.5em;
padding: 1em 2em;
}

.qui {
  display: flex;
  justify-content: center;
}

.white {
z-index: -1;
background-color: white;
}

.container3 {
position: relative;
width: 100vw;
display: flex;
justify-content: center;
flex-wrap: wrap;
transform-style: preserve-3d;
perspective: 500px;
margin: auto;
padding-bottom:20px;
}

.container3 .box {
position: relative;
width: 275px;
height: 275px;
background: #000;
transition: 0.5s;
transform-style: preserve-3d;
overflow: hidden;
margin-right: 15px;
margin-top: 45px;
}

.container3:hover .box {
transform: rotateY(25deg);
}

.container3 .box:hover ~ .box {
transform: rotateY(-25deg);
}

.container3 .box:hover {
transform: rotateY(0deg) scale(1.25);
z-index: 1;
box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}

.container3 .box .imgBx {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.container3 .box .imgBx:before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(180deg,#43B1F8,#000);
z-index: 1;
opacity: 0;
transition: 0.5s;
mix-blend-mode: multiply;
}

.container3 .box:hover .imgBx:before {
opacity: 1;
}

.container3 .box .imgBx img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.container3 .box .content {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
display: flex;
padding: 20px;
align-items: flex-end;
box-sizing: border-box;
}

.container3 .box .content h2 {
color: #fff;
transition: 0.5s;
text-transform: uppercase;
margin-bottom: 5px;
font-size: 20px;
transform: translateY(200px);
transition-delay: 0.3s;
}

.container3 .box:hover .content h2 {
transform: translateY(0px);
}

.container3 .box .content p {
color: #fff;
transition: 0.5s;
font-size: 14px;
transform: translateY(200px);
transition-delay: 0.4s;
}

.container3 .box:hover .content p {
transform: translateY(0px);
}

#last-part{
  background-image: url("./assets/image1.png");
  background-size: cover;
  min-height: 700px;
  height:fit-content;
  }

.new-title-over {
font-size: 50px;
margin-top: 200px;
margin-bottom: 20px;
margin-right:20px;
text-transform: uppercase;
font-weight: bold;
font-family: sans-serif;
letter-spacing: 0.1em;
text-align: right;
}

@media screen and (max-width:1070px) {
  #first-part{
    width: 100%;
    min-height: 220px;
    }

  .text-over {
      font-size: 15px;
      width:58%;
      line-height: 25px;
  }

  .new-title-over {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 400px;
    }

    .btn-35 {
      float:none;
      display: flex;
      width: fit-content;
      margin:auto;
}
}

@media screen and (max-width:859px) {
  #first-part{
    min-height: 100px;
    }
  
  .text-over {
      font-size: 10px;
      width:58%;
      line-height: 20px;
  }

  .title-over {
    font-size: 50px;
  }

  .btn-33 {
    font-size: 50%;
  }

}

@media screen and (max-width:800px) {
  #last-part {
    min-height: 500px;
  }
}

@media screen and (max-width:670px) {
  #first-part{
    min-height: 50px;
    }
  
  .text-over {
      font-size: 8px;
      width:58%;
      line-height: 15px;
      padding-bottom:20px;
  }

  .title-over {
    font-size: 25px;
  }

  .btn-33 {
    font-size: 25%;
  }

  .new-title-over {
    font-size: 50px;
  }

}

