body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333333;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px auto;
  max-width: 1200px;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px; 
  width: 300px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: #E1F0FF;
  text-align: center;
}

.subcontainer h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
  max-height: 200px;
  height: auto;
  transform: scale(0.5);
}

.bouton {
  margin-top: 20px;
  flex: 0 0 auto;
}

.bouton button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #43B1F8;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bouton_req {
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  color: white;
  background-color: #43B1F8;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bouton button:hover {
  background-color: white;
  color: #43B1F8;
  border: 1px solid #43B1F8;
}