.question{
    border: solid 3px #43b1f8;
    margin: 5%;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(245, 252, 252);
    padding: 10px;
    z-index: 2000;
}

.instructions{
    background-color: #43b1f8;
    border: #43b1f8 solid 5px;
    outline: #43b1f8 2px solid;
}
.pres{
    font-size: 2em;
    text-align: center;
    font-family: var(-txt-st);
    color: #ffffff;
    
    
}
form .for{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-family: var(-txt-te);
}
form .for .quest{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
form .rep{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-end;
}
.container {
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
}

form .ques{
    color: #000000;
    font-size: 1.5em;
    margin: 1vw;
    width:fit-content ;

    margin-left: -1em;
    margin-right: 3vw;
    padding: 5% 3%;
    flex-wrap: nowrap;    
    display: inline-flex;
    flex-direction: row;

}
select{
    color: #ffffff;
    background-color: #43b1f8;
    width: 150PX;
    border-radius:15px;
    text-align: center;
    font-size: 20px;
    border: #43b1f8 5px solid;
}
form input{
    margin-top : 10%;
    font-size : 25px;
    color : #43b1f8;
    background-color : #ffffff;
    border-radius : 15px ;
    border : #ffffff solid;
    padding : 3% 10%;   
    display : inline-block;
    flex-direction : row;
    z-index : 30000;
}
form input:hover{
    background-color: #43b1f8;
    text-decoration: underline;
    color: #ffffff;
}
.all{
    padding: 3em;
}
.rep input{
    margin-left: 2em;
    margin-right: 0.5em;
    background-color: aliceblue;
    color: #43b1f8;
    border: #43b1f8 solid 2px;
    width: 1rem;
    height: 1rem;
    
}
h1 {
    font-size: 3em;
    font-family: var(-txt-ti);
    color: #43b1f8;
    text-align: center;
    position: relative;
}
.debut{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2em;

}
.btn-34,
.btn-34 *,
.btn-34 :after,
.btn-34 :before,
.btn-34:after,
.btn-34:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-34 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
  color: #43B1F8;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#43B1F8, #fff);
  padding: 0;
  text-transform: uppercase;
  margin-right: 340px;
}
.btn-34:disabled {
  cursor: default;
}
.btn-34:-moz-focusring {
  outline: auto;
}
.btn-34 svg {
  display: block;
  vertical-align: middle;
}
.btn-34 [hidden] {
  display: none;
}
.btn-34 {
    border-radius: 99rem;
    border-width: 2px;
    overflow: hidden;
    padding: 0.8rem 3rem;
    margin-top: 7vh;
    margin-right: auto;
    margin-left: auto;
}
.btn-34:hover {
  transform: scale(1.1);
}
.btn-34 span {
  font-weight: 900;
  mix-blend-mode:screen;
}
.btn-34:before {
  aspect-ratio: 1;
  background: #43B1F8;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s;
  width: 0;
}
.btn-34:hover:before {
  width: 100%;
}
