

ul {
  text-align: left;
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #43b1f8;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  list-style-type: none;
}
li
{
    text-align:center;
    color: #4b4b4b;
}

section {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #4b4b4b;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: #b10e1e;
}
h2
{
    color:#43b1f8;
}
span
{
    color:green;
}


table {
  display: flex;
  flex-wrap: wrap;
  overflow-x:auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  position: relative;
  justify-content: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
} 
body {
    color: #444; 
}  