*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-self: center;
    justify-content: center;
<<<<<<< HEAD
    flex-direction: column;
    padding: 16px;
=======
    padding: 16px;
    flex-direction:column;
    text-align: center;
    margin: auto; 
>>>>>>> 98c9008 (New changes: maps and modify)
}

#map{
    height: 400px;
    width: 80%;
}

[class$=api-load-alpha-banner] {
    display: none;
}