.corps{
    background-color: #eef2f7;
    font-family: Jua, Century Gothic, sans-serif;
    overflow: auto;
}

.titre{
    color: #43B1F8;
    font-size: 30px;
    font-family: "Century Gothic", serif;   
    margin-left: 5%;
    }

.rectangle{
    border: 1px transparent solid ;
    border-radius: 2% 2%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
    background-color: white;
    padding: 1%;
}

.list{
    list-style-type: none;
    line-height: 350%;
    position: relative;
}

p{
    margin-bottom: 7px;
}

form input[type=text]{
    display:block;
    padding: 5px 10px;
    margin-top: 7px;
    border : 1.5px #eef2f7 solid;
    border-radius: 5px;
}
form input[type=file]{
    display:block;
    padding: 5px 10px;
    margin-top: 7px;
    border : 1.5px #eef2f7 solid;
    border-radius: 5px;
}

/*.couleur{
    color: #43B1F8;
    font-weight: bold;
}*/

.puce{
    margin: auto;
   
}

.btn{
    margin-right:10%;
    text-align: right;
    text-decoration: none;
}

.confbutton{
    padding: 10px 55px;
    margin: 30px auto;
    font-size: 17px;
    color: white;
    border: 1px solid #eef2f7;
    border-radius: 5px;
    background-color: #43B1F8;
    cursor:pointer;
}

.confbutton:hover {
    background-color: white;
    color:#43B1F8;
    border: 1px solid #43B1F8;
}

.container-box {
    display: flex;
    align-self: center;
    justify-self: flex-start;
    justify-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius:20px;
    background-color:white;
    width: fit-content;
    margin: 20px auto;
}

.submitbutton {
    padding: 5px 10px;
    margin:20px auto;
    font-size: 17px;
    color: white;
    border: 1px solid #eef2f7;
    border-radius: 5px;
    background-color: #43B1F8;
    cursor:pointer;
}

.submitbutton:hover {
    background-color: white;
    color:#43B1F8;
    border: 1px solid #43B1F8;
}

@media (max-width: 968px) {
    ul.puce {
        display: block;
    }
}

@media screen and (max-width:600px) {

    .list{
    line-height: 250%;
    border-right: 5%;
    position: relative;
    }

    .puce{
    margin-top: 10%;
    }

    .rectangle{
    margin-top: 10%;
    border: 10%;
    height: 60%;
    width: 80%;
    }

}
