/* mettre marge à 0 pour tous les éléments*/
* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }

header {
    z-index: 10;
} 

footer {
    z-index: 10;
} 

body{
    overflow-x: hidden;
}

 nav{
    background-color:#43B1F8;
    box-shadow: 0px 5px 25px #43B1F8;
    z-index: 100;
 }
 
 nav:after{
    content:'';
    clear: both;
    display:table;
 }
 
 nav ul{
    float:right;
    list-style-type: none;
    margin-right:40px;
    position:relative;
 }
 
 nav ul li{
    float:left;
    margin:0 10px;
    background-color:#43B1F8;
 }
 
 nav ul li a{
    color:white;
    text-decoration: none;
    line-height: 70px;
    font-size:18px;
    padding: 8px 17px;
 }
 
 nav ul li a:hover{
    text-decoration: underline;
    font-weight: bold;
 }
 
 nav ul ul {
    position: absolute;
    top:90px;
    border-top: 3px solid white;
    opacity: 0;
    z-index:2000;
    visibility: hidden;
    transition: top .3s;
 }
 
 nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
 
 }
 nav ul ul li{
    position: relative;
    margin:0;
    width: 150px;
    float:none;
    display: list-item ;
    border-bottom: 1px solid white;
 }
 
 nav ul ul li a {
    font-size: 10px;
 }
 
 nav ul ul li a:hover {
    text-decoration: underline;
    font-weight: lighter;
 }
 
 nav .logo {
    float:left;
    height:auto;
    margin-left:45px;
    width:75px;
  }
 
 nav .bouton{
   display: inline-block;
   padding: 5px 15px;
   margin-left: 20px;
   margin-top: 18px;;
   font-size: 17px;
   color: white;
   border:1px solid white;
   background-color: #43B1F8;
   cursor:pointer;
  }
 
  nav .bouton:hover{
   border: 2px solid white;
   font-weight:bold;
 }
 
 .show,input,.icon {
    display:none;
 }
 
 @media all and (max-width: 968px) {
    nav ul{
        margin-right:0px;
        float:left;
    }
    nav .logo{
        margin-right: 150px;
        width:90px;
    }
    nav ul li, nav ul ul li {
        display:block;
        width:100%;
    }
    nav ul ul{
        top:70px;
        position:static;
        border-top:none;
        float:none;
        display:none;
        opacity:1;
        visibility: visible;
    }
    nav ul ul a{
        padding-left:40px;
    }
    nav ul ul li{
        border-bottom:none;
    }
    nav ul ul li a{
        font-size:18px;
    }
    .show {
        display:block;
        color:white;
        font-size:18px;
        padding: 0 20px;
        line-height: 70px;
        cursor:pointer;
    }
    .show:hover{
        text-decoration: underline;
        font-weight: bold;
    }
    .icon{
        display:block;
        color:white;
        position: absolute;
        right:40px;
        line-height: 90px;
        font-size:35px;
        cursor:pointer;
    }
    .show + a, ul{
        display: none;
    }
    [id^=btn]:checked + ul{
        display: block;
    }
    nav .bouton{
       margin-bottom:15px;
    }
}

body{
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}

/* Defining bottom navigation bar */
.bottombar {
    display: flex;
    bottom: 0;
    align-self: flex-end;
    align-items: flex-start;
    background-color: #43b1f8;
    font-size: 12px;
    position: sticky;
}

.bottombar a {
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 12px;
}

/* Define Hover on selection color */ 
.bottombar a:hover {
    background-color: #8FAFC1;
    color: #424949;
}

/* Add active class to highlight current page */
.bottombar a.active {
    background-color: #8FAFC1;
    color: white;
}

.end{
    justify-content: flex-end;
}

:root{
    --txt-ti: 'Nunito', sans-serif;
    --txt-te: 'Roboto', sans-serif;
    --txt-st: 'Dosis', sans-serif;
}