
* {
    padding: 0;
    margin: 0;
}


.container {
    overflow: hidden;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 24px;
    background-color:white;
    width: 95%;
    margin: auto;
    font-family: Jua, Century Gothic, sans-serif;
    overflow: auto;

}
/*Définition de l'ensemble contenant paragraphe et image*/
.subcontainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    margin: 2%;
    background-color: whitesmoke;
    padding: 30px;
}

/*D&finition des paragraphes*/
.paragraphe{
    flex-basis: auto;
    text-align: center;
    position: relative;
    margin: auto;
    width: 50%;
    text-indent: 50px;
    color: #424949;
    font-family: "Century Gothic";
    font-size: 17px;
    padding: 2%;
    background-color: #ECECEC;
}
/*Définition des images*/
.image1{
    justify-content: center;
    position: relative;
    margin: auto;
    width: 75%;
    padding: 2%;
}

/*Définition du diagrammme des valeurs de l'entreprise*/
.cycle{
    width: 50%;
    padding: 5%;
    text-align: center;
    margin: auto;
    padding: 2%;
}

/*Définition des titres*/
.titre{
    color: #43B1F8;
    font-size: 30px;
    font-family: "Century Gothic", serif;   
    margin-top: 80px;
    margin-bottom: 10px;
    padding: 2%    
}

/*Définition de l'ensemble contenant toutes les valeurs de l'entreprise explicitées*/
.row{
    display: flex;
    flex-flow: wrap;
    flex-basis: auto;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2%;
    background-color: whitesmoke;
}
/*Définition du texte explicitant chaque valeur*/
.column{
    flex-basis: auto;
    width: 30%;
    background-color: #ECECEC;
    padding: 1%;
}

/*sous-titre*/
.gras{
    font-weight: 550;
    color: #A5A5A5;
}


/*Responsive: Changement du subcontainer en colonne, changement de couleur de fond d'écran et de taille des  éléments.*/

@media screen and (max-width:900px){
    .subcontainer{
        flex-direction: column;
        background-color: white;
    }
    .paragraphe{
        width: 85%;
        justify-content: center;
        background-color: whitesmoke;
    }
    .image1{
        width: 90%;
        justify-content: center;
    }

    .cycle{
         width: 60%;
    }
}

/*Responsive: Changement de la diposition de a définition de chaque valeur de l'entreprise en colonne.*/
@media screen and (max-width:600px) {
  .row{
    flex-direction: column;
  }
  .column {
    width: 97%;
  }
  .dot{
    justify-content: center;
  }
   .titre{
    font-size: 25px;
    justify-content: center;
  }
  }
    .para{
    font-size: 15px;
}



/* Defining top navigation bar */
.navbar {
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #43b1f8;
    font-size: 16px;
    position: sticky;
}

.navbar .logo {
    display: flex;
    align-self: flex-start;
    left: 10px;
    top: 10px;
    width: 75px;
    height: 75px;
}

/* To make a cleaner list; as well as modifiable */
.nav-list {
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
}

/* Defining colors when active */
.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 16px;
}

.icon {
    display: flex;
    right: 10px;
    top: 10px;
    width: 75px;
    height: 75px;
}

/* Define Hover on selection color */ 
.navbar a:hover {
    background-color: #8FAFC1;
    color: #424949;
}

/* Add active class to highlight current page */
.navbar a.active {
    background-color: #8FAFC1;
    color: white;
}


/* responsive: changing the top navbar flexbox in column */
@media all and (max-width: 550px) {
    .navbar{
        flex-direction: column;
        position: relative;
    }
    .nav-list .list-item{
        display: block;
        text-align: left;
        border-top: 1px solid white;
    }
    .nav-list{
        list-style-type: none;
        width: 80%;
        text-align: center;
        padding-top: 5px;
    }
}

/* Defining bottom navigation bar */
.bottombar {
    display: flex;
    bottom: 0;
    align-self: flex-end;
    align-items: flex-start;
    background-color: #43b1f8;
    font-size: 12px;
    font-family: "Century Gothic";
    padding: 12px 12px;
    position: sticky;
    color: whitesmoke;
    border:  none;
}

.bottombar a {
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 12px;
}

/* Define Hover on selection color */ 
.bottombar a:hover {
    background-color: #8FAFC1;
    color: #424949;
}

/* Add active class to highlight current page */
.bottombar a.active {
    background-color: #8FAFC1;
    color: white;
}

