* {
  padding: 0;
  margin: 0;
}


.container {
  overflow: hidden;
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 24px;
  background-color:white;
  width: 95%;
  margin: auto;
  font-family: Jua, Century Gothic, sans-serif;
  overflow: auto;

}

.subcontainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  margin: 2%;
  background-color: whitesmoke;
  padding: 30px;
}

.paragraphe{
  flex-basis: auto;
  text-align: center;
  position: relative;
  margin: auto;
  width: 50%;
  text-indent: 50px;
  color: #424949;
  font-family: "Century Gothic";
  font-size: 17px;
  padding: 2%;
  background-color: #ECECEC;
}

.image1{
  justify-content: center;
  position: relative;
  margin: auto;
  width: 75%;
  padding: 2%;
}

.cycle{
  width: 50%;
  padding: 5%;
  text-align: center;
  margin: auto;
  padding: 2%;
}


.titre{
  color: #43B1F8;
  font-size: 30px;
  font-family: "Century Gothic", serif;   
  margin-top: 80px;
  margin-bottom: 10px;
  padding: 2%    
}


.row{
  display: flex;

  flex-flow: wrap;
  flex-basis: auto;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2%;
  background-color: whitesmoke;
}
.column{
  flex-basis: auto;
  width: 30%;
  background-color: #ECECEC;
  padding: 1%;
}

.gras{
  font-weight: 550;
  color: #A5A5A5;
}




@media screen and (max-width:900px){
  .subcontainer{
      flex-direction: column;
      background-color: white;
  }
  .paragraphe{
      width: 85%;
      justify-content: center;
      background-color: whitesmoke;
  }
  .image1{
      width: 90%;
      justify-content: center;
  }

  .cycle{
       width: 60%;
  }
}

@media screen and (max-width:600px) {
.row{
  flex-direction: column;
}
.column {
  width: 97%;
}
.dot{
  justify-content: center;
}
 .titre{
  font-size: 25px;
  justify-content: center;
}
}
  .para{
  font-size: 15px;
}