*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 1f01c05 (updated: same code as the website)
    }
    
    .container {
        overflow: hidden;
        display: flex;
        align-self: center;
        justify-self: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 24px;
        width: 75%;
        margin: auto;
    }
    
    .titre1 {
        color: #2A404C;
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        margin-bottom: 5%;
        margin-top: 7%;
    
    }
    
    .titre2 {
        padding: 6px;
        color: #2A404C;
        text-transform: uppercase;
        font-size: 19px;
        margin-bottom: 0.5%;
    }
    
    p {
        padding: 6px;
        color: #7099B0;
        text-align: justify;
        margin-bottom: 5%;
        align-items: left;
    }
    
    .intro{
        text-align: justify;
<<<<<<< HEAD
    }
=======
}

.container {
    overflow: hidden;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    padding: 24px;
    border:2px #000000 solid;
    border-radius:20px;
    background-color:white;
    width: 75%;
    margin: auto;
}

h1 {
    padding: 24px;
}

h2 {
    padding: 12px;
}

p {
    padding: 6px;
}
>>>>>>> bd7f60d (updates: title)
=======
    }
>>>>>>> 1f01c05 (updated: same code as the website)
