*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.centerbox {
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.container{
    display: flex;
    align-self: center;
    justify-self: flex-start;
    justify-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
=======
.container_form{
    overflow: hidden;
=======
.container{
>>>>>>> 953afe5 (Update: login sys in pdo + stylizing pages)
    display: flex;
    align-self: center;
    justify-self: flex-start;
    justify-items: flex-start;
    justify-content: center;
<<<<<<< HEAD
    flex-direction: column;
>>>>>>> 1592d6f (updated login sys views (help me))
=======
    flex-wrap: wrap;
>>>>>>> 953afe5 (Update: login sys in pdo + stylizing pages)
    padding: 24px;
    border:2px #000000 solid;
    border-radius:20px;
    background-color:white;
    width: fit-content;
    margin: auto;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 953afe5 (Update: login sys in pdo + stylizing pages)
.container_form {
    display: block;
    flex-direction: column;
    padding: 16px;
    width: 50%;
    justify-items: start;
    justify-content: center;
<<<<<<< HEAD
}

.container_form form input[type=text]{
    margin-bottom:18px;
}

.container_form form input[type=email]{
    margin-bottom:18px;
}

.container_form form input[type=number]{
    margin-bottom:18px;
}

.container_form form input[type=tel]{
    margin-bottom:18px;
}

#lastsex {
    margin-bottom:18px;
}

#lastpwd{
    margin-bottom:18px;
=======
=======
.container_form form{
    padding:14px;
}

>>>>>>> 3199ed3 (mainly organization / css clean)
.container_form p{
    align-self: flex-end;
    justify-content: end;
    justify-self: flex-end;
>>>>>>> 1592d6f (updated login sys views (help me))
=======
}

.container_form form input[type=text]{
    margin-bottom:18px;
}

.container_form form input[type=email]{
    margin-bottom:18px;
}

.container_form form input[type=number]{
    margin-bottom:18px;
}

.container_form form input[type=tel]{
    margin-bottom:18px;
}

#lastsex {
    margin-bottom:18px;
}

#lastpwd{
    margin-bottom:18px;
>>>>>>> 953afe5 (Update: login sys in pdo + stylizing pages)
}

form input {
    display: inline;
<<<<<<< HEAD
<<<<<<< HEAD
    float: center;
    justify-content:left;
=======
    padding: 5px;
>>>>>>> 3199ed3 (mainly organization / css clean)
=======
    float: center;
    justify-content:left;
>>>>>>> 953afe5 (Update: login sys in pdo + stylizing pages)
}
.centerbox .confbutton{
    padding: 5px 15px;
    margin-left: 20px;
<<<<<<< HEAD
<<<<<<< HEAD
    margin-top: 18px;
=======
    margin-top: 18px;;
>>>>>>> 953afe5 (Update: login sys in pdo + stylizing pages)
=======
    margin-top: 18px;
>>>>>>> 66306bb (IT WORKS EMAIL VERIF IS GOOD)
    font-size: 17px;
    color: white;
    border:1px solid white;
    background-color: #43B1F8;
    cursor:pointer;
}
<<<<<<< HEAD
<<<<<<< HEAD

#note {
    font-style: italic;
    font-size: 8px;
    color: red;
}

.eyes i{
    cursor: pointer;
}

.eyes
{
    width:293px;
    margin:auto;
}

.eyes i.active::before
{
    content:'\f070';
    color:red;
}
=======
>>>>>>> 953afe5 (Update: login sys in pdo + stylizing pages)

#note {
    font-style: italic;
    font-size: 8px;
    color: red;
}

.eyes i{
    cursor: pointer;
}

.eyes
{
    width:293px;
    margin:auto;
}

.eyes i.active::before
{
    content:'\f070';
    color:red;
}

@media screen and (max-width: 615px) {
    .container_form{
        font-size: 12px;
    }

    .centerbox h2{
        font-size: 14px;
    }

    .container_form form input[type=text]{
        margin-bottom:13px;
    }
    
    .container_form form input[type=email]{
        margin-bottom:13px;
    }
    
    .container_form form input[type=number]{
        margin-bottom:13px;
    }
    
    .container_form form input[type=tel]{
        margin-bottom:13px;
    }
    
    #lastsex {
        margin-bottom:13px;
    }
    
    #lastpwd{
        margin-bottom:13px;
    }
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 50d48fc (Strengthened pwd requirements)

    #note {
        font-size: 6px ;
    }
<<<<<<< HEAD
=======
>>>>>>> 953afe5 (Update: login sys in pdo + stylizing pages)
=======
>>>>>>> 50d48fc (Strengthened pwd requirements)
}

@media screen and (max-width: 490px) {
    .container_form{
        font-size: 8px;
    }

    .centerbox h1 {
        font-size: 18px;
    }

    .centerbox h2{
        font-size: 12px;
    }

    .container_form form input::placeholder{
        font-size: 8px;
    }

    .container_form form input[type=text]{
        margin-bottom:12px;
        height: 8px;
    }
    
    .container_form form input[type=email]{
        margin-bottom:12px;
        height: 8px;
    }
    
    .container_form form input[type=number]{
        margin-bottom:12px;
        height: 8px;
    }
    
    .container_form form input[type=tel]{
        margin-bottom:12px;
        height: 8px;
    }
    
    .container_form form input[type=radio]{
        height: 8px;
        width: 8px;
    }

    .container_form form input[type=password] {
        height: 8px;
    }

    #lastsex {
        margin-bottom:12px;
    }
    
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 50d48fc (Strengthened pwd requirements)
    #firstpwd{
        margin-bottom: 12px;
    }

    #lastpwd{
        margin-bottom:12px;
    }

    #note{
        display: none;
    }
<<<<<<< HEAD
}
=======
>>>>>>> 1592d6f (updated login sys views (help me))
=======
    #lastpwd{
        margin-bottom:12px;
    }
}
>>>>>>> 953afe5 (Update: login sys in pdo + stylizing pages)
=======
}
>>>>>>> 50d48fc (Strengthened pwd requirements)
